---
const { page } = Astro.props
---

<nav class="pagination">
  <ul>
    <li>
      {
        page.url.first ? (
          <a href={page.url.prev} class="allow">
            <strong>&lt;&nbsp;Previous</strong>
          </a>
        ) : (
          <a href={page.url.first} class="disallow">
            Previous
          </a>
        )
      }
    </li>
    <li>
      Page&nbsp;<b>{page.currentPage}</b>&nbsp;of&nbsp;<strong
        >{page.lastPage}</strong
      >
    </li>
    <li>
      {
        page.url.last ? (
          <a href={page.url.next} class="allow">
            <strong>Next&nbsp;&gt;</strong>
          </a>
        ) : (
          <a href={page.url.last} class="disallow">
            Next
          </a>
        )
      }
    </li>
  </ul>
</nav>
<style>
  nav.pagination {
    ul {
      --uno: list-none w-full flex items-baseline text-center;

      li {
        flex: 1 1 0;

        a {
          --uno: block w-full decoration-none;

          &.disallow {
            color: var(--gray);

            &:hover {
              --uno: cursor-not-allowed bg-transparent;
            }
          }

          &.allow {
            color: var(--white);
            border: var(--b-solid);
            border-color: var(--accent);

            &:hover {
              --uno: fw-bold;
              color: var(--black);
              background-color: var(--accent);
            }
          }
        }
      }
    }
  }
</style>
